{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <title>{% block title %}Vet Client{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'client/favicon.ico' %}">
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link href="{% static 'client/styles.css' %}" rel="stylesheet">
  {% block extra_media %}{% endblock %}
</head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-primary text-info">
      <div class="container-fluid">
          <a href="/client" alt="Stev Wyman Mediation" class=" navbar-brand">
              <img src="{% static 'client/sw_data.png' %}" alt="Stev Wyman - vet client" height="36">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'owners' %}">{% trans "owners" %}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'visits' %}">{% trans "visits" %}</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "management" %}</a>
                      <ul class="dropdown-menu">
                          
                          {% if user.role < 3 %}
                          <li class="nav-item"><a class="dropdown-item" href="{% url 'templates' %}">{% trans "templates" %}</a></li>
                          {% endif %}
                          
                          {% if user.is_authenticated and user.role == 1 %}
                          <li><a class="dropdown-item" href="{% url 'treatment-types' %}">{% trans "treatments" %}</a></li>
                          <li><a class="dropdown-item" href="{% url 'medication-types' %}">{% trans "medications" %}</a></li>
                          <li><a class="dropdown-item" href="{% url 'consumables-types' %}">{% trans "consumables" %}</a></li>
                          <li><a class="dropdown-item" href="{% url 'intolerance' %}">{% trans "intolerance" %}</a></li>
                          <li><a class="dropdown-item" href="{% url 'species' %}">{% trans "species" %}</a></li>
                          <li><a class="dropdown-item" href="{% url 'races' %}">{% trans "race" %}</a></li>
                          {% endif %}
                      </ul>
                  </li>

                  {% url 'two_factor:profile' as profile_url %}
                  {% url 'logout' as logout_url %}
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }} {% if user.otp_device %}🔒{% endif %}</a>
                      <ul class="dropdown-menu">
                          <li class="nav-item {% block nav_profile %}{% endblock %}">
                              <a class="dropdown-item" href="{{ profile_url }}">{% trans "Account Security" %}</a>
                          </li>
                          <li class="nav-item">
                              <a class="dropdown-item" href="{{ logout_url }}">{% trans "log out" %}</a>
                          </li>
                      </ul>
                  </li>
                  
                  {% else %}
                  
                  {% url 'two_factor:login' as login_url %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ login_url }}">{% trans "log in" %}</a>
                  </li>
                  <!--
                  {% url 'registration' as reg_url %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ reg_url }}">{% trans "register" %}</a>
                  </li>       
                  -->
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          {% bootstrap_messages %}
          {% block content %}
          
          {% endblock %}
        </div>
      </div>
    </div>

    

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="https://stevwyman.com" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/mediate" class="nav-link px-2 text-muted">Mediation</a></li>
          <li class="nav-item"><a href="/data" class="nav-link px-2 text-muted">Market Analysis</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 stev wyman</p>
      </footer>
    </div>
  </body>
</html>