{% extends "client/layout.html" %}
{% load static %}

{% load i18n %}
{% load humanize %}

{% block head-section %}
{% trans "generate invoice" %}
{% endblock %}

{% block sub-navigation %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'owner-detail' visit.case.pet.owner.id %}">{{ visit.case.pet.owner }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pet-detail' visit.case.pet.id %}">{{ visit.case.pet.call_name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'case-detail' visit.case.id %}">{{ visit.case.title }}</a></li>
    </ol>
</nav>
{% endblock %}
                    
{% load django_bootstrap5 %}

{% block row-section %}
<div class="col col-md-8">
    <div class="row">
        <form method="post" url="{% url 'invoice-advanced' visit.id %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-outline-success float-end" type="submit" value="{% trans 'save' %}">
        </form>
    </div>
</div>
<div class="col col-md-4">
    <div class="row">
        {{ owner.firstname }} {{ owner.lastname}}
    </div>
    <hr>
    <div class="row">
        {{ visit.case.pet.call_name }} {{ visit.case.pet.species }}
    </div>
    <hr>
    <div class="row">
        {{ visit.timestamp|date:"SHORT_DATE_FORMAT"}} <br>
        {{ visit.title }} {% if visit.anamneses %}<br>{{ visit.anamneses }} {% endif %}
    </div>
</div>

{% endblock %}
