{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Vet Client{% endblock %}</title>
        <meta name="referrer" content="origin">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'client/favicon.ico' %}">
        <!--
        Favicons
        =============================================
        -->
        {% static 'client/favicons' as favicons_base %}
        <meta name="application-name" content="vet client">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="vet client">
        <meta name="msapplication-TileColor" content="#0378A6">
        <meta name="theme-color" content="#0378A6">
        <meta name="apple-mobile-web-app-status-bar-style" content="#0378A6">
        <meta name="msapplication-config" content="{{ favicons_base }}/browserconfig.xml?v=210930080144">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ favicons_base }}/apple-touch-icon-57x57.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ favicons_base }}/apple-touch-icon-60x60.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ favicons_base }}/apple-touch-icon-72x72.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ favicons_base }}/apple-touch-icon-76x76.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ favicons_base }}/apple-touch-icon-114x114.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ favicons_base }}/apple-touch-icon-120x120.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ favicons_base }}/apple-touch-icon-144x144.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ favicons_base }}/apple-touch-icon-152x152.png?v=210930080144">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ favicons_base }}/apple-touch-icon-180x180.png?v=210930080144">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/android-chrome-36x36.png?v=210930080144" sizes="36x36">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/android-chrome-48x48.png?v=210930080144" sizes="48x48">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/android-chrome-72x72.png?v=210930080144" sizes="72x72">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/android-chrome-96x96.png?v=210930080144" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/android-chrome-144x144.png?v=210930080144" sizes="144x144">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/android-chrome-192x192.png?v=210930080144" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/favicon-16x16.png?v=210930080144" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/favicon-32x32.png?v=210930080144" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ favicons_base }}/favicon-96x96.png?v=210930080144" sizes="96x96">
        <link rel="shortcut icon" type="image/x-icon" href="{{ favicons_base }}/favicon.ico?v=210930080144">
        <meta name="msapplication-TileImage" content="{{ favicons_base }}/mstile-150x150.png?v=210930080144">
        <meta name="msapplication-square70x70logo" content="{{ favicons_base }}/mstile-70x70.png?v=210930080144">
        <meta name="msapplication-square150x150logo" content="{{ favicons_base }}/mstile-150x150.png?v=210930080144">
        <meta name="msapplication-wide310x150logo" content="{{ favicons_base }}/mstile-310x150.png?v=210930080144">
        <meta name="msapplication-square310x310logo" content="{{ favicons_base }}/mstile-310x310.png?v=210930080144">
        <link href="{{ favicons_base }}/apple-touch-startup-image-320x460.png?v=210930080144" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-640x920.png?v=210930080144" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-640x1096.png?v=210930080144" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-748x1024.png?v=210930080144" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-750x1024.png?v=210930080144" media="" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-750x1294.png?v=210930080144" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-768x1004.png?v=210930080144" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-1182x2208.png?v=210930080144" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-1242x2148.png?v=210930080144" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-1496x2048.png?v=210930080144" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" rel="apple-touch-startup-image">
        <link href="{{ favicons_base }}/apple-touch-startup-image-1536x2008.png?v=210930080144" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" rel="apple-touch-startup-image">
        <link rel="manifest" href="{{ favicons_base }}/manifest.json?v=210930080144" />

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'client/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- when using navbar-fixed-top, make sure to use body { padding-top: 70px; } -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary text-info">
            <div class="container-fluid">
                <a href="/client" alt="Stev Wyman Mediation" class=" navbar-brand">
                    <img src="{% static 'client/sw_data.png' %}" alt="Stev Wyman - vet client" height="36">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'waiting-room' %}">{% trans "waiting room" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'owners' %}">{% trans "owners" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'visits' %}">{% trans "visits" %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "management" %}</a>
                            <ul class="dropdown-menu">
                                
                                {% if user.role < 3 %}
                                <li class="nav-item"><a class="dropdown-item" href="{% url 'templates' %}">{% trans "templates" %}</a></li>
                                {% endif %}
                                
                                {% if user.is_authenticated and user.role == 1 %}
                                <li><a class="dropdown-item" href="{% url 'treatment-types' %}">{% trans "treatments" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'medication-types' %}">{% trans "medications" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'consumables-types' %}">{% trans "consumables" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'intolerance' %}">{% trans "intolerance" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'species' %}">{% trans "species" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'races' %}">{% trans "race" %}</a></li>
                                {% endif %}
                            </ul>
                        </li>

                        {% url 'two_factor:profile' as profile_url %}
                        {% url 'logout' as logout_url %}
                        {% url 'clinic-update' user.clinic.id as clinic_url %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }} {% if user.otp_device %}🔒{% endif %}</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item {% block nav_profile %}{% endblock %}">
                                    <a class="dropdown-item" href="{{ profile_url }}">{% trans "Account Security" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" href="{{ logout_url }}">{% trans "log out" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" href="{{ clinic_url }}">{% trans "clinic" %}</a>
                                </li>
                            </ul>
                        </li>
                        
                        {% else %}
                        
                        {% url 'two_factor:login' as login_url %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ login_url }}">{% trans "log in" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% bootstrap_messages %}

        <main>
            <section class="py-5 text-center container">
                <h1>
                    {% block head-section %}{% endblock %}
                </h1>
                <p class="lead-text muted">
                    {% block head-section-sub %}{% endblock %}
                </p>
            </section>

            <div class="container">
                <div class="row bg-light py-3">
                    {% block sub-navigation %}
            
                    {% endblock %}
                </div>
            </div>
            
            <div class="container">
                <div class="row py-1">
                    {% block row-section %}
            
                    {% endblock %}
                </div>
            </div>

            <div class="container">
                <div class="row py-1">
                    {% block body %}
            
                    {% endblock %}
                </div>
            </div>
        </main>

        <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="https://stevwyman.com" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/mediate" class="nav-link px-2 text-muted">Mediation</a></li>
                <li class="nav-item"><a href="/data" class="nav-link px-2 text-muted">Market Analysis</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
              </ul>
              <p class="text-center text-muted">© 2023 stev wyman</p>
            </footer>
        </div>

    </body>
</html>