{% extends "client/layout.html" %}
{% load static %}

{% load i18n %}

{% block head-section %}
{% trans "owners" %}
{% endblock %}

{% block row-section %}
<div class="col">
    <div class="text-end">
        <form method="GET">
            <input type="text" name="q" value="{{ request.GET.q }}"">
            <input class="btn btn-sm btn-outline-success" type="submit" value="{% trans 'search' %}">
          </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "name" %}</th>
                    <th>{% trans "pets" %}</th>
                    <th>{% trans "last visit" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in page_obj %}
                {% url 'owner-detail' owner.id as owner_url %}
                <tr onclick="window.location='{{ owner_url }}'" style="cursor:hand;cursor:pointer">
                    <td>{{ owner }}</td>
                    <td>{{ owner.pets.all|length }}</td>
                    <td>{{ owner.last_visit.created }}{% if owner.balance != 0 %}<br>{% if owner.balance < 0 %}<span class="text-danger">{% trans 'balance due' %} {% else %}<span class="text-success">{% trans 'balance plus' %} {% endif %} €&nbsp;{{ owner.balance|floatformat:2 }} </span>{% endif %}</td>
                    <td><a class="btn btn-sm btn-outline-warning float-end" href="{% url 'owner-update' owner.id %}">{% trans "update" %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans "first" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
    
            <span class="current">
                {% trans "page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div>
        <p><a class="btn btn-outline-success float-start" href="{% url 'owner-create' %}">+ {% trans "owner" %}</a></p>
    </div>
</div>





{% endblock %}