{% extends "client/layout.html" %}
{% load static %}

{% load i18n %}

{% block head-section %}
{% if object %}
{{ object }}
{% else %}
{% trans "new treatment"%}
{% endif %}
{% endblock %}
                    
{% load django_bootstrap5 %}

{% block row-section %}
<div class="col col-md-8">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-outline-success float-end" type="submit" value="{% trans 'save' %}">
    </form>
</div>
<div class="col col-md-4">
    Bei Labor, immer den Netto Betrag mit dem WErt aus der Rechnug schreiben
</div>
{% endblock %}