{% extends "client/layout.html" %}
{% load static %}

{% load i18n %}

{% block head-section %}
{% trans "confirm" %}
{% endblock %}
                    
{% load django_bootstrap5 %}

{% block body %}

<form method="post">{% csrf_token %}
    <p>{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>
    {% bootstrap_form form %}
    <input class="btn btn-outline-success float-end" type="submit" value="{% trans 'delete' %}">
    <input type="hidden" name="visit_id" id="visit" value="{{ object.id }}">
</form>

{% endblock %}