{% extends "client/layout.html" %}
{% load static %}

{% load i18n %}

{% block head-section %}
{% if object %}
{{ object }}
{% else %}
{% trans "new medication"%}
{% endif %}
{% endblock %}
                    
{% load django_bootstrap5 %}

{% block row-section %}
<div class="col col-md-8">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-outline-success float-end" type="submit" value="{% trans 'save' %}">
    </form>
</div>
<div class="col col-md-4">
    {% if visitmedication %}
    <p>
        Achtung: Wenn Sie den Preis überschreiben wollen, verwenden Sie bitte einen Brutto-Preis.<br><br>
        Wenn kein Wert gesetzt ist, wird die gewählte Menge (hier: {{ visitmedication.quantity }}) verwendet.
    </p>
    {% endif %}
</div>
{% endblock %}